@charset "utf-8";

html {border:0px;}
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,Passlogin,table,td,img,div,p,dl,dt,dd{margin:0;padding:0;}
body{margin:0; color:#313232;font-family: Helvetica,STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Arial;font-size:14px; text-align: left;line-height:24px;background-clip:border-box;background-origin:border-box;border:0px;}
h1,h2,h3,h4,h5,h6{ font-size:14px;margin:0px;padding:0px;font-weight: 900;}
ul,li,dl,ul,ol{list-style:none;}
select{font-size:14px; color:#313232;}
input{font-size:14px; color:#313232;}
select,input{vertical-align:middle; padding:0; margin:0; font-family:"微软雅黑"}
cite,em{font-style:normal;}
a{text-decoration:none;}
a:active { background:#dfdfdf} 
img{border:0px;}
.swiper-slide{ float:left;}
.fillet {-webkit-border-radius:4px; border-radius:4px; -moz-border-radius:4px;}
/*-------------------------------------------------*/

.ws0701_clearfix{clear:both;}
.ws0701_container{}

#body_bg{max-width:750px;margin: auto;/* background: #fff;     */background-color: #f4f4f4;}
.set{width:20px; height: 120px;position: fixed; top:0px; left:0px; z-index:100; background:#FD4C5B url(../img/70%20Basic%20Icons-all-36.svg) -45px 29px no-repeat; }
.set img{ width:75px; height:75px; border-radius:100%; border:4px #fff solid; margin-top:18px; float:right}
#swiper-container2 .active-nav{color:#40b873 !important;}
#swiper-container2 .active-nav span{}
#swiper-container2 .active-nav span{
	color: #ffffff;
    border-bottom: 5px solid #ffffff;
}
.ws0701_tab_top{background: #fff;height: 120px;text-align: center;}
.ws0701_tab_top span{
	color: #ffcfcb;
    font-size: 2.5em;
    line-height: 120px;
    height: 110px;
    width: 90px;
    display: inline-block;
	/* border-radius: 5px; */
}
.pro{width: 320px;height: 220px;background: #252525;border-radius:4px;color:#fff;box-shadow:0px 0px 12px #000;margin: 12px;float: left;}
.pro h2{font-size:26px;font-weight: 500;line-height: 60px;text-indent:20px;}
.pro h1{font-size:28px;text-align: center;font-weight: 500;text-align: center;line-height: 80px;}
.pro a{display: block;width: 190px;height: 50px;background: #fae92b;border-radius:25px;color:#1e4306;text-align: center;line-height: 50px;font-size:24px;margin:10px auto;}

.ws0701_main3 p{font-size:30px;color:#fff;line-height: 60px;}
.ws0701_more{height: 60px;overflow: hidden;}
.ws0701_more a{float: right;font-size:28px;color:#fff;line-height: 60px;}

.nav_li{ height:340px !important; background:url(../img/banner.png) no-repeat; text-align:center; padding-top:40px; text-align:center;
background-position: 0px 0px;
  background-repeat: repeat-x;
 
  animation: animatedBackground 40s linear infinite;
  }
  @keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
} 
.nav_li img{ width:120px; height:120px;border:4px #fff solid; border-radius:100%; margin:auto;}
.nav_li .nickname{ color:#fff; font-size:35px; padding-top:20px}
.nav_li .mood{ padding:30px; font-size:30px; color:#fff; line-height:40px;}
#animation {
-webkit-animation:bounce 1s 1s ease both;
-moz-animation:bounce 1s 1s ease both;
}
@-webkit-keyframes bounce {
0%, 20%, 50%, 80%, 100% {
-webkit-transform:translateY(0)
}
40% {
-webkit-transform:translateY(-30px)
}
60% {
-webkit-transform:translateY(-15px)
}
}
@-moz-keyframes bounce {
0%, 20%, 50%, 80%, 100% {
-moz-transform:translateY(0)
}
40% {
-moz-transform:translateY(-30px)
}
60% {
-moz-transform:translateY(-15px)
}
}

/* 半次热点 */
.Hotspot{
	position: relative;
    width: 100%;
    margin-bottom: 12px;
    background-color: #fff;
    box-sizing: border-box;
}
.Hotspot * {
    box-sizing: border-box;
}
.Hotspot .left {
    float: left;
}
.Hotspot h3 {
    height: 110px;
    line-height: 110px;
    padding: 0 100px;
    font-size: 2.2em;
    text-decoration: none;
}
.Hotspot .content-wrapper {
    display: block;
    width: 100%;
    overflow: hidden;
    padding: 0 6px;
}
.Hotspot .hotspot_box {
	width: 50%;
    display: inline-block;
    position: relative;
    padding: 0 6px 24px;
    vertical-align: top;
    float: left;
}
.Hotspot .hotspot_box .item {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.Hotspot .hotspot_box .item .top {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 0;
    padding-bottom: 63%;
}
.Hotspot .hotspot_box .item .cover-img {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 5px;
}
.Hotspot .hotspot_box .info {
    position: relative;
    display: block;
    width: 100%;
    padding-top: 5px;
}
.Hotspot .hotspot_box .info .title {
    width: 100%;
    max-height: 70px;
    line-height: 1.4em;
    overflow: hidden;
    color: #444;
    font-size: 1.8em;
}